<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("MAC Developments", "About", "Company", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Construction", "Construction", "Services")</li>
                            <li>@Html.ActionLink("Demolition", "Demolition", "Services")</li>
                            <li>@Html.ActionLink("Contracting", "Contracting", "Services")</li>
                            <li>@Html.ActionLink("Projects", "Projects", "Services")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Company")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="container marketing">
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 MAC Developments</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
